.inputContainer {
  padding: 6px 10px;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.inputBase {
  flex: 1;
  border: none;
  font-weight: bold;
  opacity: 0.3;
  &:focus{
    content: '';
    opacity: 1;
    outline: none;
  }
}
.iconButton {
  padding: 10px;
}
