@import "../../styles/variables";
.listItem {
  margin: 10px;
}

.listItemTitle {
  font-size: 20px;
  margin: 10px;
}

.listItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listItemCollapse {
  border-top: 2px solid $grey ;
  padding: 20px;
  display: grid;
  justify-content: space-around;
  grid-auto-columns: auto;

  grid-gap: 10px;
  @include desktop {
    grid-auto-flow: column;
  }
}
.listItemCountryImg {
  width: 100px;
}

.expand {
  transform: rotate(0deg);
  margin-left: auto;
}

.expandIsOpen {
  transform: rotate(180deg);
}
